<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator with simple functions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Form:</h1>
<form action="#" th:action="@{/calculator}" th:object="${calculationModel}" method="POST">
<table>
    <tr>
        <td>Name:</td>
        <td> <input type="text" th:field="*{a}"></td>
        <td th:if="${#fields.hasErrors('a')}" th:errors="*{a}">a Error</td>
    </tr>

    <tr>
        <td>Name:</td>
        <td> <input type="text" th:field="*{b}"></td>
        <td th:if="${#fields.hasErrors('b')}" th:errors="*{b}">a Error</td>
    </tr>

    <tr>
    <td><button type="submit" name="sum" value="+">Plus:</button></td>
    <td><button type="submit" name="sub" value="-">Minus:</button></td>
    <td><button type="submit" name="mult" value="*">Multiply:</button></td>
    <td><button type="submit" name="div" value="/">Divide:</button></td>
    </tr>

    <tr><td th:text="'result is: ' + ${result}">Result calculation</td></tr>


</table>
</form>

</body>
</html>